<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkhv.tongbu.oracle.dao.OR_PatientMapper" >

	<!--多条件分页查询列表  -->
<!-- 	SELECT P.* FROM 
	(SELECT ROWNUM IDS,t.* FROM (SELECT  * FROM V_PAT_OPERATING  ORDER BY OPS_TIME DESC,P_DEPT ASC,P_NUM ASC) t 
	WHERE ROWNUM <= 20) p WHERE IDS > 0   --> 
	
	<select id="selectPageListUseDyc" parameterType="PageUtil"  resultType="T_OPPatient">
		SELECT  P.* FROM   
                (SELECT ROWNUM IDS, t.* FROM (SELECT  * FROM V_PAT_OPERATING  
                <where>
					<if test="entity!=null">
						<!--根据患者的名字查询 -->
						<if test="entity.p_name !=null and entity.p_name !=''  ">
							AND P_NAME LIKE '%${entity.p_name}%'
						</if>
						<!--根据手术室的名字查询 -->
						<if test="entity.room_name !=null and entity.room_name !='' ">
							AND ROOM_NAME LIKE '%${entity.room_name }%'
						</if>
						<!--根据科室查询 -->
						<if test="entity.p_dept !=null and entity.p_dept !='' ">
							AND P_DEPT LIKE '%${entity.p_dept}%'
						</if>
						<if test="entity.selectEndTime !=null and entity.selectEndTime !='' ">
							AND OPS_TIME <![CDATA[
										    				<=
															]]>
							#{entity.selectEndTime}
						</if>
						<!--大于手术时间 -->
						<if test="entity.ops_time !=null and entity.ops_time !='' ">
							AND OPS_TIME >= #{entity.ops_time}
						</if>
					</if>
                </where>
                ORDER BY OPS_TIME DESC,P_DEPT ASC,P_NUM ASC) t 
              	WHERE ROWNUM <![CDATA[<=]]> (#{page}*#{rows}) ) p 
              	WHERE  IDS > #{start}
	</select>

	<!--多条件分页查询总数  -->
	<select id="selectPageCountUseDyc" parameterType="PageUtil" resultType="Integer">
			SELECT COUNT(1) FROM V_PAT_OPERATING 
						<where>
							<if test="entity!=null">
										<!--根据患者的名字查询  -->
										<if test="entity.p_name !=null and entity.p_name !=''  ">
											AND P_NAME LIKE '%${entity.p_name}%'	
										</if>
										<!--根据手术室的名字查询  -->
										<if test="entity.room_name !=null and entity.room_name !='' ">
											AND ROOM_NAME LIKE '%${entity.room_name }%'			
										</if>
											<!--根据科室查询  -->
										<if test="entity.p_dept !=null and entity.p_dept !='' ">
											AND P_DEPT LIKE '%${entity.p_dept}%'			
										</if>
										<if test="entity.selectEndTime !=null and entity.selectEndTime !='' ">
											AND OPS_TIME <![CDATA[
						    				<=
											]]> #{entity.selectEndTime}				
										</if>
										<!--大于手术时间  -->
										<if test="entity.ops_time !=null and entity.ops_time !='' ">
											AND OPS_TIME >= #{entity.ops_time}				
										</if>
							</if>
					</where>
	</select>
	
	
	<select id="select" parameterType="T_OPPatient" resultType="T_OPPatient">
		SELECT * FROM 	V_PAT_OPERATING   WHERE ID=#{id}
	</select>
</mapper>